name: hc-demo

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest
    env_file: .env
    ports:
      - 1434:1433
    healthcheck:
      interval: 5s
      timeout: 3s
      start_period: 5s
      retries: 30
      test: ${SQL_CMD} -C -S localhost -U sa -P $${SA_PASSWORD} -Q "SELECT 1"

  mssql-init:
    image: mcr.microsoft.com/mssql/server:2025-latest
    env_file: .env
    entrypoint: ${SQL_CMD} -C -S ${HCDEMO_DB_SERVER} -U sa -P ${SA_PASSWORD} -d master -i /data/init.sql -e -I
    volumes:
      - ./mssql-init:/data
    depends_on:
      mssql:
        condition: service_healthy

  hc-demo:
    image: hcdemo:local
    build:
      context: ../
      dockerfile: ./src/HCDemo.Gql.Api/Dockerfile
    env_file: .env
    ports:
      - 8095:8080
    depends_on:
      mssql-init:
        condition: service_completed_successfully
